node_modules
npm-debug.log
.git
.gitignore
.env
.env.local
.vscode
.idea
*.swp
*.swo
*~
.DS_Store
reports/*
!reports/.gitkeep
test-results
playwright/restful-booker/monocart-report
playwright/sauce-demo/monocart-report
playwright/restful-booker/test-results
playwright/sauce-demo/test-results
